body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    border: solid 2px black;
}



.flex-list {
    display: flex;
    justify-content: space-evenly;
}

.flex-list li {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
}

.message {
    padding: 30px;
}

.image-container img{
    max-height: 500px;
    padding: 60px 80px 50px 30px;
}

