body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    border: solid 2px black;
}

.flex-list {
    display: flex;
    justify-content: space-evenly;

}

.flex-list li {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}


article header {
    background-color: transparent;
    color: initial;
    border: initial;
}

section {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section article {
    max-width: 600px;
}

.image-container img {
    max-width: 700px;
    padding: 0 20px 0 50px;
}

