html, body,
ul, ol, li,
h1, h2, h3, 
p, div, article, section {
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/*----header---*/

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 10000;
    background-color: white;
}

header .container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.header-left .logo{
    width: 200px;
}

.header-right .login{
    text-decoration: none;
    color:gray;
    font-weight: bold;
    font-size: 30px;
    padding: 0 20px 0 0;
}


/*---top wrapper--*/
.top-wrapper{
    /* border:2px solid red; */
    background-image:url(backgroundimage.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    width:100%;
    min-width:969px;
    position:relative;
    height:70vh;
}

.section-container{
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top:5vh;
    height:100%;

}

.section-container .text-area{
    /* border: 2px solid yellow; */
    width: 40%;
    display: flex;
    justify-content: center;

}


.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:#ffffff;
    font-weight: bold;
}

.text-box h1{
    font-size: 30px;
    margin-bottom: 6em;
}

.text-box p{
    font-size: 25px;
}



.form-area{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.9);
    border-radius: 10px;
    width:30vw;
    padding:10px;
    position: relative;
    max-height:770px;
}

.form {
    padding: 0;
    margin:0;
} 


.text-form{
    /* border:2px solid pink; */
    display: flex;
    justify-content: flex-start;
    font-size: 1.75em;
}


.form-list-wrapper{
    /* border:2px solid blue; */
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-height: 78vh;
}

.form-list{
    list-style: none;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}




input{
    width: 100%;
    border:none;
    border-radius: 0.3rem;
    background: darken(#f9f9f9,10%);
    color: darken(#f9f9f9, 50%);
}

/*--request--*/
.filtered-result{
    border: 2px solid red;
    height:4em;
    min-width: 969px;
}




/*---middle wrapper--*/
.middle-wrapper{
    /* border: 2px solid blue; */
    min-width:969px;
}

.location{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location img{
    width:60%;
    margin:2px;
}

.location-pair-top, .location-pair-bottom{
    display: flex;
    flex-direction: row;
    margin:10px 0;
    /* border: 2px solid yellow; */
}

.card{
    /* border: 2px solid gray; */
    border:1px solid #333333;
    border-radius: 1rem;
    box-shadow: 20px -10px 25px 0 #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    margin: 5px 20px;
    padding: 20px;
    margin-bottom: 10px;
}
.middle-wrapper .text-area{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    padding: 5px 0;
    font-size: 30px;
}