body {
    margin: 0;
    background-color: #32373c;
    color: #abb8c3;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: black;
    opacity: 0.9;
    position: fixed;
    /*絶対位置*/
    top: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    z-index: 10000;
}

nav {
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-end;
    display: flex;
}

ul {
    display: flex;
}

li {
    margin-left: 50px;
    margin-top: 10px;
    list-style: none;
}


.header-container {
    display: flex;
}

container {
    width: 1170px;
    padding: 0;
    margin: 0 auto;
    letter-spacing: 1vh;
    display: flex;
    justify-content: center;
}

.header-logo {
    margin: 28px 250px 0 0;
}













.main-footer {
    width: 100%;
    padding: 10px 0;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    /*絶対位置*/
    bottom: 0;
    /*下に固定*/
}

.btn-wrapper img {
    height: 35px;
}

.btn {
    color: white;
    background-color: transparent;
    border-radius: 4px;
    display: inline-block;
    font-size: 10px;
    padding: 2px 4px;
    text-decoration: none;
    margin: 0 10px;
}

.btn.twitter,
.btn.linkedin,
.btn.facebook {
    float: right;
}



.btn:active {
    background-color: white;
    position: relative;
    top: 6px;
    box-shadow: none;
}

.telefone {
    float: left;
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}









